# **CONSTRUCCIÓN DE MATRIZ DE COVARIABLES**

## 1. Carga de datos e importación de Bibliotecas

In [1]:
import os
import gc
import warnings

import pandas as pd
from pandas.plotting import register_matplotlib_converters
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import lightgbm as lgb
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import LabelEncoder

warnings.filterwarnings("ignore")
pd.set_option("display.max_columns", 500)
pd.set_option("display.max_rows", 500)
register_matplotlib_converters()
sns.set()

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [0]:
#Carga de datos
sales = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/Proyecto Integrador/sales_train_validation.csv')#Continene los datos historicos de la venta diaria de cada uno de los productos
submission = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/Proyecto Integrador/sample_submission.csv') #Ejemplo del archivo que hay que mandar
cal = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/Proyecto Integrador/calendar.csv')#Contiene información de días en los que se llevaron a cabo promociones y campañas
prices = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/Proyecto Integrador/sell_prices.csv')# Contiene información del precio de los productos por dia y por tienda

In [0]:
#print(sales.head())
#print(submission.head())
#print(cal.tail(70))
#print(prices.head())

In [0]:
#Filtrar para referencia, categoria, estado, tienda, etc
sales = sales[sales.store_id.isin(['WI_3'])]
sales = sales[sales.cat_id.isin(['HOUSEHOLD'])]
prices = prices[prices.store_id.str.contains('WI_3')]
prices = prices[prices.item_id.str.contains('HOUSEHOLD')]
#submission= submission[submission.id.isin(['FOODS_3_555_CA_1_validation'])]
submission = submission[submission.id.str.contains('WI_3')]
submission = submission[submission.id.str.contains('HOUSEHOLD')]
submission = submission[submission.id.str.contains('validation')]

In [0]:
#print(sales.head())
#print(submission.tail())
#print(cal.head())
#print(prices.head())

In [7]:
print(sales.shape)
print(prices.shape)
print(submission.shape)

(1047, 1919)
(238104, 4)
(1047, 29)

In [0]:
#Delimitación de número de datos a utilizar
sales.drop(sales.columns[6:1550], axis=1, inplace=True)

In [9]:
sales.head()

,id,item_id,dept_id,cat_id,store_id,state_id,d_1545,d_1546,d_1547,d_1548,d_1549,d_1550,d_1551,d_1552,d_1553,d_1554,d_1555,d_1556,d_1557,d_1558,d_1559,d_1560,d_1561,d_1562,d_1563,d_1564,d_1565,d_1566,d_1567,d_1568,d_1569,d_1570,d_1571,d_1572,d_1573,d_1574,d_1575,d_1576,d_1577,d_1578,d_1579,d_1580,d_1581,d_1582,d_1583,d_1584,d_1585,d_1586,d_1587,d_1588,d_1589,d_1590,d_1591,d_1592,d_1593,d_1594,d_1595,d_1596,d_1597,d_1598,d_1599,d_1600,d_1601,d_1602,d_1603,d_1604,d_1605,d_1606,d_1607,d_1608,d_1609,d_1610,d_1611,d_1612,d_1613,d_1614,d_1615,d_1616,d_1617,d_1618,d_1619,d_1620,d_1621,d_1622,d_1623,d_1624,d_1625,d_1626,d_1627,d_1628,d_1629,d_1630,d_1631,d_1632,d_1633,d_1634,d_1635,d_1636,d_1637,d_1638,d_1639,d_1640,d_1641,d_1642,d_1643,d_1644,d_1645,d_1646,d_1647,d_1648,d_1649,d_1650,d_1651,d_1652,d_1653,d_1654,d_1655,d_1656,d_1657,d_1658,d_1659,d_1660,d_1661,d_1662,d_1663,d_1664,d_1665,d_1666,d_1667,d_1668,d_1669,d_1670,d_1671,d_1672,d_1673,d_1674,d_1675,d_1676,d_1677,d_1678,d_1679,d_1680,d_1681,d_1682,d_1683,d_1684,d_1685,d_1686,d_1687,d_1688,d_1689,d_1690,d_1691,d_1692,d_1693,d_1694,d_1695,d_1696,d_1697,d_1698,d_1699,d_1700,d_1701,d_1702,d_1703,d_1704,d_1705,d_1706,d_1707,d_1708,d_1709,d_1710,d_1711,d_1712,d_1713,d_1714,d_1715,d_1716,d_1717,d_1718,d_1719,d_1720,d_1721,d_1722,d_1723,d_1724,d_1725,d_1726,d_1727,d_1728,d_1729,d_1730,d_1731,d_1732,d_1733,d_1734,d_1735,d_1736,d_1737,d_1738,d_1739,d_1740,d_1741,d_1742,d_1743,d_1744,d_1745,d_1746,d_1747,d_1748,d_1749,d_1750,d_1751,d_1752,d_1753,d_1754,d_1755,d_1756,d_1757,d_1758,d_1759,d_1760,d_1761,d_1762,d_1763,d_1764,d_1765,d_1766,d_1767,d_1768,d_1769,d_1770,d_1771,d_1772,d_1773,d_1774,d_1775,d_1776,d_1777,d_1778,d_1779,d_1780,d_1781,d_1782,d_1783,d_1784,d_1785,d_1786,d_1787,d_1788,d_1789,d_1790,d_1791,d_1792,d_1793,d_1794,d_1795,d_1796,d_1797,d_1798,d_1799,d_1800,d_1801,d_1802,d_1803,d_1804,d_1805,d_1806,d_1807,d_1808,d_1809,d_1810,d_1811,d_1812,d_1813,d_1814,d_1815,d_1816,d_1817,d_1818,d_1819,d_1820,d_1821,d_1822,d_1823,d_1824,d_1825,d_1826,d_1827,d_1828,d_1829,d_1830,d_1831,d_1832,d_1833,d_1834,d_1835,d_1836,d_1837,d_1838,d_1839,d_1840,d_1841,d_1842,d_1843,d_1844,d_1845,d_1846,d_1847,d_1848,d_1849,d_1850,d_1851,d_1852,d_1853,d_1854,d_1855,d_1856,d_1857,d_1858,d_1859,d_1860,d_1861,d_1862,d_1863,d_1864,d_1865,d_1866,d_1867,d_1868,d_1869,d_1870,d_1871,d_1872,d_1873,d_1874,d_1875,d_1876,d_1877,d_1878,d_1879,d_1880,d_1881,d_1882,d_1883,d_1884,d_1885,d_1886,d_1887,d_1888,d_1889,d_1890,d_1891,d_1892,d_1893,d_1894,d_1895,d_1896,d_1897,d_1898,d_1899,d_1900,d_1901,d_1902,d_1903,d_1904,d_1905,d_1906,d_1907,d_1908,d_1909,d_1910,d_1911,d_1912,d_1913
28006,HOUSEHOLD_1_001_WI_3_validation,HOUSEHOLD_1_001,HOUSEHOLD_1,HOUSEHOLD,WI_3,WI,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,1,1,0,1,0,0,1,1,1,1,0,0,0,1,0,3,0,0,0,0,1,0,1,0,0,1,1,0,0,0,1,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,2,0,0,0,0,1,0,0,0,0,0,1,1,0,1,1,0,2,0,0,0,0,0,0,0,0,1,2,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,2,0,0,0,1,0,1,0,0,0,0,1,1,1,0,2,0,0,0,0,0,1,1,1,0,0,2,0,0,0,0,1,0,0,1,0,0,0,0,0,3,1,0,1,0,0,1,0,0,0,1,0,0,0,0,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,1,0,0,0,1,0,0,0,2,0,0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0
28007,HOUSEHOLD_1_002_WI_3_validation,HOUSEHOLD_1_002,HOUSEHOLD_1,HOUSEHOLD,WI_3,WI,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,1,3,0,0,1,0,1,0,1,3,0,1,0,1,1,0,0,0,0,0,0,1,0,1,0,0,0,1,1,0,0,0,1,0,1,0,3,1,0,1,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,1,1,0,1,0,0,1,0,1,0,1,0,0,0,0,0,0,0,0,0,0,2,0,0,0,1,0,0,0,3,0,1,1,1,0,0,1,1,1,0,0,0,0,0,0,0,0,1,1,0,2,0,0,1,0,0,0,2,0,1,0,0,0,0,1,0,0,1,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,1,0,0,0,0,1,0,1,0,0,0,0,2,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,1,0,0,0,0,1,0,0,0,0,1,1,0,0,3,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,1,0,1,0,0,0,0,1,0,1,1,0,0,0,0,0,0,0,1,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0
28008,HOUSEHOLD_1_003_WI_3_validation,HOUSEHOLD_1_003,HOUSEHOLD_1,HOUSEHOLD,WI_3,WI,0,0,2,0,0,0,0,0,0,0,0,3,0,0,0,0,0,0,0,0,2,0,2,0,0,0,0,0,0,3,0,0,0,0,0,0,0,1,0,2,1,0,0,0,0,1,1,0,0,1,0,0,0,1,1,0,0,0,0,1,0,0,0,0,1,1,0,0,0,1,0,0,0,1,0,1,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,1,0,0,0,2,2,1,0,0,0,2,1,1,2,0,0,1,2,0,1,0,0,1,0,0,3,2,0,0,0,0,1,3,1,1,0,0,1,0,1,0,0,0,1,0,0,0,0,2,1,2,0,1,2,0,0,0,0,0,2,0,1,0,1,1,0,1,1,0,1,1,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,1,1,1,0,0,0,0,1,2,1,0,0,0,2,1,0,0,0,0,0,0,0,1,1,1,0,0,1,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,1,1,0,0,0,2,0,0,0,0,1,0,0,0,0,1,0,1,0,1,1,1,1,1,1,2,0,0,0,1,1,0,2,0,0,0,2,0,0,1,0,0,1,0,1,0,1,1,1,0,0,0,0,0,0,1,1,1,0,1,0,2,2,1,0,0,1,1,0,0,0,1,0,1,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,1,0,0,1,0,0,0,2,1
28009,HOUSEHOLD_1_004_WI_3_validation,HOUSEHOLD_1_004,HOUSEHOLD_1,HOUSEHOLD,WI_3,WI,0,0,0,0,1,0,5,2,0,0,0,0,1,0,0,0,0,2,1,1,1,1,2,3,0,8,0,2,4,0,0,0,3,0,1,1,1,1,5,0,1,0,2,0,3,4,1,0,2,2,1,3,3,0,0,0,0,0,0,1,1,2,4,1,0,1,0,0,3,4,1,1,2,0,4,1,0,0,0,1,3,0,1,4,2,3,1,4,0,0,1,0,0,0,0,0,0,2,0,1,3,1,1,0,0,1,0,0,1,4,3,2,1,2,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,7,5,0,0,0,0,0,10,8,6,0,0,0,2,12,9,3,5,4,1,0,12,0,0,0,0,0,0,0,5,4,3,0,10,2,0,0,0,0,2,2,2,3,10,10,4,4,2,2,2,7,0,0,0,8,6,5,19,1,3,7,2,3,0,8,0,6,1,2,5,1,7,5,4,1,3,4,0,2,0,5,11,1,5,0,0,0,3,3,11,0,7,4,7,1,1,2,4,5,5,4,0,1,0,0,4,0,0,0,0,0,0,2,7,0,0,0,0,2,1,8,1,0,11,2,6,3,3,5,1,5,6,7,9,4,1,4,5,6,3,3,4,7,5,5,0,1,0,0,0,0,0,0,0,0,2,1,3,4,1,10,0,4,0,0,0,0,3,11,9,2,10,7,2,0,8,5,2,0,4,8,12,0,1,0,0,0,0,0,0,1,5,3,2,2,9,12,3,2,3,0,2,0,8,0,4,3,12,2,0,0,0,0,3,3,4,2,4,1,2,1,7,1,0,1
28010,HOUSEHOLD_1_005_WI_3_validation,HOUSEHOLD_1_005,HOUSEHOLD_1,HOUSEHOLD,WI_3,WI,0,2,0,1,1,1,0,0,0,0,0,1,1,0,1,0,0,2,0,1,2,1,0,0,0,1,0,1,0,0,2,0,2,1,0,1,3,3,0,1,2,1,1,1,1,2,1,2,1,0,1,0,2,0,1,0,1,1,1,1,0,0,1,0,0,0,2,0,2,3,0,2,2,0,1,1,0,0,1,1,0,2,1,0,1,3,0,1,0,2,0,0,1,0,1,2,0,0,1,2,1,1,2,1,0,0,0,1,4,1,1,0,3,0,1,0,0,2,2,2,1,0,4,8,0,3,5,0,1,1,4,3,4,1,2,1,3,0,1,4,1,1,0,0,2,1,2,1,0,1,2,5,2,0,2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,1,5,2,5,3,5,2,0,4,0,9,5,4,1,5,4,6,2,3,4,0,1,8,9,7,2,1,3,2,4,9,2,1,7,2,2,3,3,4,1,1,5,8,7,10,7,3,6,3,1,4,6,4,1,2,7,3,4,2,1,1,0,2,4,0,4,4,1,3,4,6,6,11,6,3,5,3,4,4,5,6,4,3,0,6,9,6,3,3,1,2,1,3,6,2,4,1,2,3,7,4,1,3,0,0,1,1,2,0,0,1,4,1,1,3,2,1,3,1,0,1,2,2,0,2,1,0,1,1,3,0,0,1,1,1,0,0,1,0,0,2,0,1,0,1,1,0,1,0,2,1,0,0,0,1,0,3,0,1,0,2,1,3,0,0,0,0,0,1,1,1,0,0,2,0,0,1,0,2,2,0,1,0,0,0,4

## 2. Enriquecer y hacer Doomies de matriz Calendario

### 2.1 Agregar "Doomie" si hay evento hoy, mañana y pasado mañana en DF "calendar"

In [10]:
#HOY
#Creamos un vector booleano cuyo valor será 1 o 0 dependiendo si hay evento o no en el día (t)
hoyEvento = []
for i in cal['event_name_1']:
  if pd.isna(i) == True:
    hoyEvento.append("0")
  else:
    hoyEvento.append("1")

#No vale la pena tenerlo en cuenta porque hay muy pocos eventos 2 en todo el dataframe, solo 5.
#HOY EVENTO2 ---- Siempre que hay evento 2, hay evento 1, por lo tanto si este vale 1, es porque hay dos eventos el mismo día.
#hoyEvento2 = []
#for i in cal['event_name_2']:
  #if pd.isna(i) == True:
    #hoyEvento2.append("0")
  #else:
    #hoyEvento2.append("1")

# MAÑANA
#se crea un vector booleano empezando desde t+1, será 1 si hay evento en t+1 o 0 en caso de que no.
diaAnteriorEvento = []
for i in cal['event_name_1'][1:len(cal)]:
  if pd.isna(i) == True:
    diaAnteriorEvento.append("0")
  else:
    diaAnteriorEvento.append("1")

diaAnteriorEvento.append("0") 

#Este ultimo es para igualar el largo de las filas del DF Calendar. Recordar que el ciclo comenzó en el segundo elemento -->[1:len(calendar)]. Asumimos que para el ultimo día registrado en Calendar, el dia que le sigue no hubo evento. 
# PASADO MAÑANA
diaAnterior2Evento = []
for i in cal['event_name_1'][2:len(cal)]:
  if pd.isna(i) == True:
    diaAnterior2Evento.append("0")
  else:
    diaAnterior2Evento.append("1")

diaAnterior2Evento.append("0") 
diaAnterior2Evento.append("0")

len(hoyEvento)

1969

In [0]:
#Se agregan las nuevas variables de eventos al calendario 
cal["EventoHoy"]=hoyEvento
cal["EventoMañana"]=diaAnteriorEvento
cal["EventoPasadoMañana"]=diaAnterior2Evento
#cal["EventoHoy2"]=hoyEvento2              # No vale la pena tener en cuenta estos eventos ya que solo hay 5 en todo el dataset.

### 2.2 Agregar "Doomie" para event_type

In [12]:
Doomies_Event_Type=pd.get_dummies(cal["event_type_1"])
Doomies_Event_Type.rename(columns={'Cultural':'event_type_Bool_Cultural'}, inplace=True)
Doomies_Event_Type.rename(columns={'National':'event_type_Bool_National'}, inplace=True)
Doomies_Event_Type.rename(columns={'Religious':'event_type_Bool_Religious'}, inplace=True)
Doomies_Event_Type.rename(columns={'Sporting':'event_type_Bool_Sporting'}, inplace=True)
Doomies_Event_Type

,event_type_Bool_Cultural,event_type_Bool_National,event_type_Bool_Religious,event_type_Bool_Sporting
0,0,0,0,0
1,0,0,0,0
2,0,0,0,0
3,0,0,0,0
4,0,0,0,0
...,...,...,...,...
1964,0,0,0,0
1965,0,0,0,0
1966,0,0,0,0
1967,0,0,0,0
1968,0,0,0,1

In [13]:
# Se concatenan las doomies creadas y la tabla de calendario
cal = pd.concat([cal, Doomies_Event_Type], axis=1, sort=False)
cal

,date,wm_yr_wk,weekday,wday,month,year,d,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,EventoHoy,EventoMañana,EventoPasadoMañana,event_type_Bool_Cultural,event_type_Bool_National,event_type_Bool_Religious,event_type_Bool_Sporting
0,2011-01-29,11101,Saturday,1,1,2011,d_1,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0
1,2011-01-30,11101,Sunday,2,1,2011,d_2,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0
2,2011-01-31,11101,Monday,3,1,2011,d_3,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0
3,2011-02-01,11101,Tuesday,4,2,2011,d_4,NaN,NaN,NaN,NaN,1,1,0,0,0,0,0,0,0,0
4,2011-02-02,11101,Wednesday,5,2,2011,d_5,NaN,NaN,NaN,NaN,1,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1964,2016-06-15,11620,Wednesday,5,6,2016,d_1965,NaN,NaN,NaN,NaN,0,1,1,0,0,0,0,0,0,0
1965,2016-06-16,11620,Thursday,6,6,2016,d_1966,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0
1966,2016-06-17,11620,Friday,7,6,2016,d_1967,NaN,NaN,NaN,NaN,0,0,0,0,0,1,0,0,0,0
1967,2016-06-18,11621,Saturday,1,6,2016,d_1968,NaN,NaN,NaN,NaN,0,0,0,0,1,0,0,0,0,0
1968,2016-06-19,11621,Sunday,2,6,2016,d_1969,NBAFinalsEnd,Sporting,Father's day,Cultural,0,0,0,1,0,0,0,0,0,1

### 2.3 Definicion de funciones para creación de Variables día semana, numero día, semana, mes, trimestre y año

In [0]:
# Es importante saber si el hecho de que sea un día en particular de la semana, numero de día del mes, semana del año, mes, trimestre o año tiene
# relevancia en las predicciones. Por lo tanto se define una funcion para hacerlo.

def add_time_features(df, dt_col):
    df[dt_col] = pd.to_datetime(df[dt_col])

    attrs = [
        "quarter",
        #"week",
        #"year",
        #"day",
        #"month",
        #"dayofweek",
    ]

    for attr in attrs:
        dtype = np.int16 if attr == "year" else np.int8
        df[attr] = getattr(df[dt_col].dt, attr).astype(dtype)

    df["is_weekend"] = df["wday"].isin([1, 2]).astype(np.int8)
    return df

In [0]:
cal = add_time_features(cal, "date")

In [0]:
cal["month"].replace({1: "01_January", 2: "02_February", 3: "03_March", 4: "04_April", 5: "05_May", 6: "06_June", 7: "07_July",8: "08_August",9: "09_September",10: "10_October",11: "11_November",12: "12_December"}, inplace=True)
cal["quarter"].replace({1: "quarter_1", 2: "quarter_2", 3: "quarter_3", 4: "quarter_4"}, inplace=True)
#cal["week"].replace({1: "week_01", 2: "week_02", 3: "week_03", 4: "week_04", 5: "week_05", 6: "week_06", 7: "week_07", 8: "week_08",9: "week_09",10: "week_10",11: "week_11", 12: "week_12", 13: "week_13", 14: "week_14", 15: "week_15", 16: "week_16", 17: "week_17", 18: "week_18",19: "week_19",20: "week_20",21: "week_21", 22: "week_22", 23: "week_23", 24: "week_24", 25: "week_25", 26: "week_26", 27: "week_27", 28: "week_28",29: "week_29",30: "week_30",31: "week_31", 32: "week_32", 33: "week_33", 34: "week_34", 35: "week_35", 36: "week_36", 37: "week_37", 38: "week_38",39: "week_39",40: "week_40",41: "week_41", 42: "week_42", 43: "week_43", 44: "week_44", 45: "week_45", 46: "week_46", 47: "week_47", 48: "week_48",49: "week_49",50: "week_50",51: "week_51", 52: "week_52", 53: "week_53"}, inplace=True)
#cal["day"].replace({1: "day_month_01", 2: "day_month_02", 3: "day_month_03", 4: "day_month_04", 5: "day_month_05", 6: "day_month_06", 7: "day_month_07", 8: "day_month_08",9: "day_month_09",10: "day_month_10",11: "day_month_11", 12: "day_month_12", 13: "day_month_13", 14: "day_month_14", 15: "day_month_15", 16: "day_month_16", 17: "day_month_17", 18: "day_month_18",19: "day_month_19",20: "day_month_20",21: "day_month_21", 22: "day_month_22", 23: "day_month_23", 24: "day_month_24", 25: "day_month_25", 26: "day_month_26", 27: "day_month_27", 28: "day_month_28",29: "day_month_29",30: "day_month_30",31: "day_month_31"}, inplace=True)
cal["year"].replace({2011: "year_2011", 2012: "year_2012", 2013: "year_2013", 2014: "year_2014", 2015: "year_2015",2016: "year_2016"}, inplace=True)
cal["weekday"].replace({"Monday": "01_Monday", "Tuesday": "02_Tuesday", "Wednesday": "03_Wednesday", "Thursday": "04_Thursday", "Friday": "05_Friday", "Saturday": "06_Saturday", "Sunday": "07_Sunday"}, inplace=True)

In [17]:
cal.head(10)

,date,wm_yr_wk,weekday,wday,month,year,d,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,EventoHoy,EventoMañana,EventoPasadoMañana,event_type_Bool_Cultural,event_type_Bool_National,event_type_Bool_Religious,event_type_Bool_Sporting,quarter,is_weekend
0,2011-01-29,11101,06_Saturday,1,01_January,year_2011,d_1,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,quarter_1,1
1,2011-01-30,11101,07_Sunday,2,01_January,year_2011,d_2,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,quarter_1,1
2,2011-01-31,11101,01_Monday,3,01_January,year_2011,d_3,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,quarter_1,0
3,2011-02-01,11101,02_Tuesday,4,02_February,year_2011,d_4,NaN,NaN,NaN,NaN,1,1,0,0,0,0,0,0,0,0,quarter_1,0
4,2011-02-02,11101,03_Wednesday,5,02_February,year_2011,d_5,NaN,NaN,NaN,NaN,1,0,1,0,0,0,0,0,0,0,quarter_1,0
5,2011-02-03,11101,04_Thursday,6,02_February,year_2011,d_6,NaN,NaN,NaN,NaN,1,1,1,0,0,0,0,0,0,0,quarter_1,0
6,2011-02-04,11101,05_Friday,7,02_February,year_2011,d_7,NaN,NaN,NaN,NaN,1,0,0,0,0,1,0,0,0,0,quarter_1,0
7,2011-02-05,11102,06_Saturday,1,02_February,year_2011,d_8,NaN,NaN,NaN,NaN,1,1,1,0,1,0,0,0,0,0,quarter_1,1
8,2011-02-06,11102,07_Sunday,2,02_February,year_2011,d_9,SuperBowl,Sporting,NaN,NaN,1,1,1,1,0,0,0,0,0,1,quarter_1,1
9,2011-02-07,11102,01_Monday,3,02_February,year_2011,d_10,NaN,NaN,NaN,NaN,1,1,0,0,0,0,0,0,0,0,quarter_1,0

In [0]:
Doomies_weekday=pd.get_dummies(cal["weekday"])
Doomies_month=pd.get_dummies(cal["month"])
Doomies_year=pd.get_dummies(cal["year"])
#Doomies_week=pd.get_dummies(cal["week"])
Doomies_quarter=pd.get_dummies(cal["quarter"])
#Doomies_day=pd.get_dummies(cal["day"])

### 2.4 Matriz Final de Calendario

In [19]:
calendar = cal[{"date","wm_yr_wk"}]
calendar = pd.concat([calendar,cal.d], axis=1, sort=False)
calendar = pd.concat([calendar, Doomies_year], axis=1, sort=False)
calendar = pd.concat([calendar, Doomies_quarter], axis=1, sort=False)
calendar = pd.concat([calendar, Doomies_month], axis=1, sort=False)
#calendar = pd.concat([calendar, Doomies_week], axis=1, sort=False)
#calendar = pd.concat([calendar, Doomies_day], axis=1, sort=False)
calendar = pd.concat([calendar, Doomies_weekday], axis=1, sort=False)
calendar = pd.concat([calendar, cal.is_weekend, cal.EventoHoy, cal.EventoMañana, cal.EventoPasadoMañana, cal.event_type_Bool_Cultural, cal.event_type_Bool_National, cal.event_type_Bool_Religious, cal.event_type_Bool_Sporting], axis=1, sort=False)
calendar

,wm_yr_wk,date,d,year_2011,year_2012,year_2013,year_2014,year_2015,year_2016,quarter_1,quarter_2,quarter_3,quarter_4,01_January,02_February,03_March,04_April,05_May,06_June,07_July,08_August,09_September,10_October,11_November,12_December,01_Monday,02_Tuesday,03_Wednesday,04_Thursday,05_Friday,06_Saturday,07_Sunday,is_weekend,EventoHoy,EventoMañana,EventoPasadoMañana,event_type_Bool_Cultural,event_type_Bool_National,event_type_Bool_Religious,event_type_Bool_Sporting
0,11101,2011-01-29,d_1,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0
1,11101,2011-01-30,d_2,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0
2,11101,2011-01-31,d_3,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,11101,2011-02-01,d_4,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
4,11101,2011-02-02,d_5,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1964,11620,2016-06-15,d_1965,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
1965,11620,2016-06-16,d_1966,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
1966,11620,2016-06-17,d_1967,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0
1967,11621,2016-06-18,d_1968,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,1,0,0,0,0,0
1968,11621,2016-06-19,d_1969,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,0,0,0,0,0,1

## 3. Definición de Funciones.

###3.1 Despliegue de varios DF a la vez.

In [0]:
import IPython

def display(*dfs, head=True):
    for df in dfs:
        IPython.display.display(df.head() if head else df) #Para desplegar varios DF.

### 3.2 Optimización de uso de Memoria.

In [0]:
def reduce_mem_usage(df, verbose=False):
    start_mem = df.memory_usage().sum() / 1024 ** 2
    int_columns = df.select_dtypes(include=["int"]).columns
    float_columns = df.select_dtypes(include=["float"]).columns

    for col in int_columns:
        df[col] = pd.to_numeric(df[col], downcast="integer")

    for col in float_columns:
        df[col] = pd.to_numeric(df[col], downcast="float")

    end_mem = df.memory_usage().sum() / 1024 ** 2
    if verbose:
        print(
            "Mem. usage decreased to {:5.2f} Mb ({:.1f}% reduction)".format(
                end_mem, 100 * (start_mem - end_mem) / start_mem
            )
        )
    return df

### 3.3 Funciones para creación de matriz de covariables a partir de la fusión de información de la referencia, el calendario y el precio

In [0]:
def extract_num(ser):
    return ser.str.extract(r"(\d+)").astype(np.int16) # Función para extraer el numero del día de las columna (d_1 ->1 // d_13 -> 13)


def reshape_sales(sales, submission, d_thresh=0, verbose=True):
    # Encabezados a los que se le aplicará método melt.
    id_columns = ["id", "item_id", "dept_id", "cat_id", "store_id", "state_id"]

    # Dejar tabla sin la demanda de los días (Vamos a poner los días en fila y no columna.)
    product = sales[id_columns]

    
    sales = sales.melt(id_vars=id_columns, var_name="d", value_name="demand",)# Construir tabla con función melt para que la demanda me quede en función de los días en fila. 
    sales = reduce_mem_usage(sales) #Con esto me vuelve a quedar los días en columna (¿Para que lo devuelve?)

    # Separar el DataFrame "Submission" en validación y evaluación. 
    vals = submission[submission["id"].str.endswith("validation")]
    evals = submission[submission["id"].str.endswith("evaluation")]

    # Editar nombre de las columnas de los días para que quede acorde con lo que serán el reango de los días de predicción y el rango de los días de validación.
    vals.columns = ["id"] + [f"d_{d}" for d in range(1914, 1914 + DAYS_PRED)]
    evals.columns = ["id"] + [f"d_{d}" for d in range(1942, 1942 + DAYS_PRED)]

    # Unir tabla de validación y evaluación con la tabla de producto (item_id;dept_id;cat_id;store_id;state_id)
    evals["id"] = evals["id"].str.replace("_evaluation", "_validation")
    vals = vals.merge(product, how="left", on="id")
    evals = evals.merge(product, how="left", on="id")
    evals["id"] = evals["id"].str.replace("_validation", "_evaluation")


    #Impresión de tablas finales de validación y evaluación.
    if verbose:
        print("validation")
        display(vals)

        print("evaluation")
        display(evals)

    #Llevar estructura de la tabla de validación y evaluación a que los días esten en fila (La anterior la compusimos como lo pide submission que es los días en columna)
    vals = vals.melt(id_vars=id_columns, var_name="d", value_name="demand")
    evals = evals.melt(id_vars=id_columns, var_name="d", value_name="demand")

    #Agregar columna "part" para indicar si el dato corresponde a el dataset de entrenamiento, el de validación o el de evaluación. 
    sales["part"] = "train"
    vals["part"] = "validation"
    evals["part"] = "evaluation"

    #Unir todo en un solo dataset llamdo "data"
    data = pd.concat([sales, vals, evals], axis=0)

    #Eliminar los demas DF que ya se utilizaron para componer el DF data (Por memoria)
    del sales, vals, evals


    data["d"] = extract_num(data["d"])
    data = data[data["d"] >= d_thresh]

    # Elimianar DF "evals" de data (Por el momento)
    data = data[data["part"] != "evaluation"]

    gc.collect() #Garbage Colector

    if verbose:
        print("data")
        display(data)

    return data


def merge_calendar(data, calendar):
    #calendar = calendar.drop(["weekday", "wday", "month", "year"], axis=1) #Quitar Columnas "weekday", "wday", "month", "year" de Calendar // Despues se la añadiran con otros datos mas enriquecidos en la función add_time_features 
    return data.merge(calendar, how="left", on="d") #Unir tabla "data" con "calendar" a partir de la columna "d" (La que indica el día)


def merge_prices(data, prices):
    return data.merge(prices, how="left", on=["store_id", "item_id", "wm_yr_wk"]) #Unir tabla "data" con "prices" a partir de la correspondencia de las columnas "store_id", "item_id", "wm_yr_wk"

### 3.4 Función para enriquecer datos de sales y prices.

In [0]:
def add_demand_features(df): 

    #for window in [1]:
        #df[f"prom_ult_4_dias{window}"] = df.groupby(["id"])["demand"].transform(
            #lambda x: (x.shift(28)+x.shift(21)+x.shift(14)+x.shift(7))/4)
    
    for window in [7, 30, 60, 90, 180]:
        df[f"rolling_std_t{window}"] = df.groupby(["id"])["demand"].transform(
            lambda x: x.shift(28).rolling(window).std()
        )

    for window in [7, 30, 60, 90, 180]:
        df[f"rolling_mean_t{window}"] = df.groupby(["id"])["demand"].transform(
            lambda x: x.shift(28).rolling(window).mean()
        )

    #for window in [7, 30, 60]:
        #df[f"rolling_min_t{window}"] = df.groupby(["id"])["demand"].transform(
            #lambda x: x.shift(28).rolling(window).min()
        #)

    #for window in [7, 30, 60]:
        #df[f"rolling_max_t{window}"] = df.groupby(["id"])["demand"].transform(
            #lambda x: x.shift(28).rolling(window).max()
        #)

    df["rolling_skew_t30"] = df.groupby(["id"])["demand"].transform(
        lambda x: x.shift(28).rolling(30).skew()
    )
    df["rolling_kurt_t30"] = df.groupby(["id"])["demand"].transform(
        lambda x: x.shift(28).rolling(30).kurt()
    )
    return df


def add_price_features(df):
    df["shift_price_t1"] = df.groupby(["id"])["sell_price"].transform(
        lambda x: x.shift(1)
    )
    df["price_change_t1"] = (df["shift_price_t1"] - df["sell_price"]) / (
        df["shift_price_t1"]
    )
    #df["rolling_price_max_t365"] = df.groupby(["id"])["sell_price"].transform(
        #lambda x: x.shift(1).rolling(365).max()
    #)
    #df["price_change_t365"] = (df["rolling_price_max_t365"] - df["sell_price"]) / (
        #df["rolling_price_max_t365"]
    #)

    df["rolling_price_std_t7"] = df.groupby(["id"])["sell_price"].transform(
        lambda x: x.rolling(7).std()
    )
    df["rolling_price_std_t30"] = df.groupby(["id"])["sell_price"].transform(
        lambda x: x.rolling(30).std()
    )
    return df.drop(["shift_price_t1"], axis=1)

## 4. Creación de matriz de covariables.

### 4.1 Selección de Referencia

In [0]:
NUM_ITEMS = sales.shape[0]  # 30490
DAYS_PRED = submission.shape[1] - 1  # 28

### 4.2 Unión de Matrices (sales + calendar + prices = data)

In [25]:
#data = reshape_sales(sales, submission, d_thresh=1941 - int(365 * 2))
data = reshape_sales(sales, submission, d_thresh=0)
del sales
gc.collect()

calendar["d"] = extract_num(calendar["d"]) # Extraer el numero del día de las columna (d_1 ->1 // d_13 -> 13).
data = merge_calendar(data, calendar) # Unir Dataframe de "calendar" con "data" con la función merge_calendar
del calendar 
gc.collect()

data = merge_prices(data, prices)# Unir Dataframe de "calendar" con "data" con la función merge_calendar
del prices
gc.collect()

data = reduce_mem_usage(data)

validation

,id,d_1914,d_1915,d_1916,d_1917,d_1918,d_1919,d_1920,d_1921,d_1922,d_1923,d_1924,d_1925,d_1926,d_1927,d_1928,d_1929,d_1930,d_1931,d_1932,d_1933,d_1934,d_1935,d_1936,d_1937,d_1938,d_1939,d_1940,d_1941,item_id,dept_id,cat_id,store_id,state_id
0,HOUSEHOLD_1_001_WI_3_validation,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,HOUSEHOLD_1_001,HOUSEHOLD_1,HOUSEHOLD,WI_3,WI
1,HOUSEHOLD_1_002_WI_3_validation,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,HOUSEHOLD_1_002,HOUSEHOLD_1,HOUSEHOLD,WI_3,WI
2,HOUSEHOLD_1_003_WI_3_validation,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,HOUSEHOLD_1_003,HOUSEHOLD_1,HOUSEHOLD,WI_3,WI
3,HOUSEHOLD_1_004_WI_3_validation,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,HOUSEHOLD_1_004,HOUSEHOLD_1,HOUSEHOLD,WI_3,WI
4,HOUSEHOLD_1_005_WI_3_validation,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,HOUSEHOLD_1_005,HOUSEHOLD_1,HOUSEHOLD,WI_3,WI

evaluation

Empty DataFrame
Columns: [d_1942, d_1943, d_1944, d_1945, d_1946, d_1947, d_1948, d_1949, d_1950, d_1951, d_1952, d_1953, d_1954, d_1955, d_1956, d_1957, d_1958, d_1959, d_1960, d_1961, d_1962, d_1963, d_1964, d_1965, d_1966, d_1967, d_1968, d_1969, id, item_id, dept_id, cat_id, store_id, state_id]
Index: []

data

,id,item_id,dept_id,cat_id,store_id,state_id,d,demand,part
0,HOUSEHOLD_1_001_WI_3_validation,HOUSEHOLD_1_001,HOUSEHOLD_1,HOUSEHOLD,WI_3,WI,1545,0,train
1,HOUSEHOLD_1_002_WI_3_validation,HOUSEHOLD_1_002,HOUSEHOLD_1,HOUSEHOLD,WI_3,WI,1545,0,train
2,HOUSEHOLD_1_003_WI_3_validation,HOUSEHOLD_1_003,HOUSEHOLD_1,HOUSEHOLD,WI_3,WI,1545,0,train
3,HOUSEHOLD_1_004_WI_3_validation,HOUSEHOLD_1_004,HOUSEHOLD_1,HOUSEHOLD,WI_3,WI,1545,0,train
4,HOUSEHOLD_1_005_WI_3_validation,HOUSEHOLD_1_005,HOUSEHOLD_1,HOUSEHOLD,WI_3,WI,1545,0,train

### 4.3 Enriquecer matriz de covariables.

In [26]:
data = add_demand_features(data).pipe(reduce_mem_usage)
data = add_price_features(data).pipe(reduce_mem_usage)
dt_col = "date"
#data = add_time_features(data, dt_col).pipe(reduce_mem_usage)
data = data.sort_values("date")

print("start date:", data[dt_col].min())
print("end date:", data[dt_col].max())
print("data shape:", data.shape)

start date: 2015-04-22 00:00:00
end date: 2016-05-22 00:00:00
data shape: (415659, 64)

In [27]:
data.tail(40)

,id,item_id,dept_id,cat_id,store_id,state_id,d,demand,part,wm_yr_wk,date,year_2011,year_2012,year_2013,year_2014,year_2015,year_2016,quarter_1,quarter_2,quarter_3,quarter_4,01_January,02_February,03_March,04_April,05_May,06_June,07_July,08_August,09_September,10_October,11_November,12_December,01_Monday,02_Tuesday,03_Wednesday,04_Thursday,05_Friday,06_Saturday,07_Sunday,is_weekend,EventoHoy,EventoMañana,EventoPasadoMañana,event_type_Bool_Cultural,event_type_Bool_National,event_type_Bool_Religious,event_type_Bool_Sporting,sell_price,rolling_std_t7,rolling_std_t30,rolling_std_t60,rolling_std_t90,rolling_std_t180,rolling_mean_t7,rolling_mean_t30,rolling_mean_t60,rolling_mean_t90,rolling_mean_t180,rolling_skew_t30,rolling_kurt_t30,price_change_t1,rolling_price_std_t7,rolling_price_std_t30
414997,HOUSEHOLD_1_395_WI_3_validation,HOUSEHOLD_1_395,HOUSEHOLD_1,HOUSEHOLD,WI_3,WI,1941,0,validation,11617,2016-05-22,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,4.880000,1.133893e+00,7.701321e-01,0.640224,0.595866,0.600512,0.428571,0.400000,0.283333,0.266667,0.283333,2.057722,3.899877,0.0,0.000000e+00,0.000000e+00
414998,HOUSEHOLD_1_396_WI_3_validation,HOUSEHOLD_1_396,HOUSEHOLD_1,HOUSEHOLD,WI_3,WI,1941,0,validation,11617,2016-05-22,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,3.970000,1.000000e+00,1.142693e+00,1.070403,1.157724,1.190421,1.000000,1.266667,1.200000,1.311111,1.227778,0.473880,-0.568734,0.0,0.000000e+00,0.000000e+00
414999,HOUSEHOLD_1_397_WI_3_validation,HOUSEHOLD_1_397,HOUSEHOLD_1,HOUSEHOLD,WI_3,WI,1941,0,validation,11617,2016-05-22,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,2.780000,7.867958e-01,1.061879e+00,0.979306,0.884320,1.047239,0.571429,0.900000,0.916667,0.733333,0.622222,0.766465,-0.769327,0.0,3.679228e-09,5.144305e-09
415000,HOUSEHOLD_1_398_WI_3_validation,HOUSEHOLD_1_398,HOUSEHOLD_1,HOUSEHOLD,WI_3,WI,1941,0,validation,11617,2016-05-22,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,2.870000,7.867958e-01,5.560534e-01,0.542020,0.502677,0.527458,0.571429,0.366667,0.333333,0.288889,0.300000,1.215798,0.623481,0.0,0.000000e+00,0.000000e+00
415001,HOUSEHOLD_1_399_WI_3_validation,HOUSEHOLD_1_399,HOUSEHOLD_1,HOUSEHOLD,WI_3,WI,1941,0,validation,11617,2016-05-22,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0.970000,3.147183e+00,5.109041e+00,5.344066,5.226469,5.280570,10.285714,8.033334,6.683333,6.255556,5.877778,-0.175284,-0.366259,0.0,0.000000e+00,0.000000e+00
414972,HOUSEHOLD_1_368_WI_3_validation,HOUSEHOLD_1_368,HOUSEHOLD_1,HOUSEHOLD,WI_3,WI,1941,0,validation,11617,2016-05-22,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,7.980000,5.345225e-01,4.068381e-01,0.360085,0.353509,0.321918,0.428571,0.200000,0.150000,0.144444,0.116667,1.580130,0.527447,0.0,0.000000e+00,0.000000e+00
414938,HOUSEHOLD_1_333_WI_3_validation,HOUSEHOLD_1_333,HOUSEHOLD_1,HOUSEHOLD,WI_3,WI,1941,0,validation,11617,2016-05-22,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,2.970000,4.879500e-01,5.683208e-01,0.588016,0.560898,0.544027,0.285714,0.433333,0.400000,0.333333,0.288889,0.882021,-0.168419,0.0,1.325841e-08,0.000000e+00
414971,HOUSEHOLD_1_367_WI_3_validation,HOUSEHOLD_1_367,HOUSEHOLD_1,HOUSEHOLD,WI_3,WI,1941,0,validation,11617,2016-05-22,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,3.970000,3.779645e-01,7.701321e-01,0.640224,0.623710,0.501116,0.142857,0.400000,0.283333,0.244444,0.183333,2.057722,3.899877,0.0,0.000000e+00,0.000000e+00
414969,HOUSEHOLD_1_365_WI_3_validation,HOUSEHOLD_1_365,HOUSEHOLD_1,HOUSEHOLD,WI_3,WI,1941,0,validation,11617,2016-05-22,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,4.170000,6.900656e-01,6.260623e-01,0.523731,0.545553,0.529103,0.857143,0.433333,0.283333,0.288889,0.277778,1.171699,0.430742,0.0,0.000000e+00,0.000000e+00
414940,HOUSEHOLD_1_335_WI_3_validation,HOUSEHOLD_1_335,HOUSEHOLD_1,HOUSEHOLD,WI_3,WI,1941,0,validation,11617,2016-05-22,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,8.960000,7.450581e-09,2.767076e-09,0.372425,0.373264,0.342472,0.000000,0.000000,0.116667,0.133333,0.105556,NaN,NaN,0.0,2.244570e-01,1.167058e-01
414941,HOUSEHOLD_1_336_WI_3_validation,HOUSEHOLD_1_336,HOUSEHOLD_1,HOUSEHOLD,WI_3,WI,1941,0,validation,11617,2016-05-22,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,4.870000,1.527525e+00,9.855275e-01,0.879137,0.861798,0.866223,1.000000,0.833333,0.800000,0.766667,0.622222,1.282294,1.988096,0.0,0.000000e+00,0.000000e+00
414942,HOUSEHOLD_1_337_WI_3_validation,HOUSEHOLD_1_337,HOUSEHOLD_1,HOUSEHOLD,WI_3,WI,1941,0,validation,11617,2016-05-22,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,4.970000,3.779645e-01,3.457459e-01,0.251549,0.269322,0.268569,0.142857,0.133333,0.066667,0.077778,0.077778,2.272519,3.385989,0.0,0.000000e+00,0.000000e+00
414943,HOUSEHOLD_1_338_WI_3_validation,HOUSEHOLD_1_338,HOUSEHOLD_1,HOUSEHOLD,WI_3,WI,1941,0,validation,11617,2016-05-22,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,3.940000,8.997354e-01,1.638615e+00,1.666893,1.707880,1.804496,3.142857,1.933333,1.633333,1.733333,1.527778,0.416352,-0.412213,0.0,0.000000e+00,0.000000e+00
414944,HOUSEHOLD_1_339_WI_3_validation,HOUSEHOLD_1_339,HOUSEHOLD_1,HOUSEHOLD,WI_3,WI,1941,0,validation,11617,2016-05-22,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0.970000,3.047247e+00,4.630732e+00,4.323729,4.243170,4.058786,9.571428,7.066667,8.183333,8.866667,7.866667,0.224584,-0.645047,0.0,0.000000e+00,0.000000e+00
414945,HOUSEHOLD_1_340_WI_3_validation,HOUSEHOLD_1_340,HOUSEHOLD_1,HOUSEHOLD,WI_3,WI,1941,0,validation,11617,2016-05-22,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,4.980000,7.450581e-09,3.457459e-01,0.375823,0.353509,0.356895,0.000000,0.133333,0.166667,0.144444,0.133333,2.272519,3.385989,0.0,0.000000e+00,0.000000e+00
414946,HOUSEHOLD_1_341_WI_3_validation,HOUSEHOLD_1_341,HOUSEHOLD_1,HOUSEHOLD,WI_3,WI,1941,0,validation,11617,2016-05-22,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,4.880000,4.879500e-01,6.789106e-01,0.645497,0.706312,0.855460,0.285714,0.433333,0.416667,0.466667,0.505556,1.320248,0.556242,0.0,0.000000e+00,0.000000e+00
414947,HOUSEHOLD_1_342_WI_3_validation,HOUSEHOLD_1_342,HOUSEHOLD_1,HOUSEHOLD,WI_3,WI,1941,0,validation,11617,2016-05-22,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,17.969999,8.997354e-01,8.087169e-01,0.699273,0.707107,0.741599,1.142857,0.633333,0.450000,0.500000,0.444444,0.792271,-0.977745,0.0,0.000000e+00,0.000000e+00
414948,HOUSEHOLD_1_343_WI_3_validation,HOUSEHOLD_1_343,HOUSEHOLD_1,HOUSEHOLD,WI_3,WI,1941,0,validation,11617,2016-05-22,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,5.270000,9.759001e-01,7.738544e-01,0.673132,1.036175,0.979286,0.571429,0.566667,0.433333,0.777778,0.827778,0.958102,-0.592336,0.0,0.000000e+00,2.282838e-08
414949,HOUSEHOLD_1_344_WI_3_validation,HOUSEHOLD_1_344,HOUSEHOLD_1,HOUSEHOLD,WI_3,WI,1941,0,validation,11617,2016-05-22,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,7.930000,2.149197e+00,1.552158e+00,1.350455,1.402869,1.500207,1.428571,1.266667,1.200000,1.177778,1.527778,1.121754,0.382146,0.0,0.000000e+00,0.000000e+00
414950,HOUSEHOLD_1_345_WI_3_validation,HOUSEHOLD_1_345,HOUSEHOLD_1,HOUSEHOLD,WI_3,WI,1941,0,validation,11617,2016-05-22,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,4.220000,7.867958e-01,7.701321e-01,0.645716,0.600146,0.610558,0.428571,0.400000,0.300000,0.277778,0.261111,2.057722,3.899877,0.0,0.000000e+00,0.000000e+00
414951,HOUSEHOLD_1_346_WI_3_validation,HOUSEHOLD_1_346,HOUSEHOLD_1,HOUSEHOLD,WI_3,WI,1941,0,validation,11617,2016-05-22,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,3.940000,8.997354e-01,8.087169e-01,0.804472,0.766740,0.787393,0.857143,0.633333,0.616667,0.544444,0.511111,1.211380,1.084976,0.0,0.000000e+00,0.000000e+00
414952,HOUSEHOLD_1_347_WI_3_validation,HOUSEHOLD_1_347,HOUSEHOLD_1,HOUSEHOLD,WI_3,WI,1941,0,validation,11617,2016-05-22,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,1.500000,4.879500e-01,7.580981e-01,0.884742,0.901933,0.803835,0.285714,0.666667,0.783333,0.800000,0.672222,0.659545,-0.911429,0.0,3.157037e+00,1.641492e+00
414953,HOUSEHOLD_1_348_WI_3_validation,HOUSEHOLD_1_348,HOUSEHOLD_1,HOUSEHOLD,WI_3,WI,1941,0,validation,11617,2016-05-22,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,1.860000,1.618347e+00,1.696853e+00,1.827288,1.648970,1.311873,1.428571,1.500000,1.500000,1.000000,0.627778,1.497262,2.679246,0.0,0.000000e+00,0.000000e+00
414954,HOUSEHOLD_1_349_WI_3_validation,HOUSEHOLD_1_349,HOUSEHOLD_1,HOUSEHOLD,WI_3,WI,1941,0,validation,11617,2016-05-22,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,2.940000,1.154701e+00,1.201532e+00,1.232677,1.342710,1.377695,1.000000,1.066667,1.350000,1.522222,1.416667,0.758624,-0.500440,0.0,0.000000e+00,3.388962e-09
414955,HOUSEHOLD_1_350_WI_3_validation,HOUSEHOLD_1_350,HOUSEHOLD_1,HOUSEHOLD,WI_3,WI,1941,0,validation,11617,2016-05-22,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,2.740000,8.164966e-01,1.430778e+00,1.467058,1.334316,1.375768,1.000000,1.433333,1.516667,1.477778,1.466667,1.127455,0.895048,0.0,0.000000e+00,0.000000e+00
414956,HOUSEHOLD_1_351_WI_3_validation,HOUSEHOLD_1_351,HOUSEHOLD_1,HOUSEHOLD,WI_3,WI,1941,0,validation,11617,2016-05-22,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0.970000,3.047247e+00,6.530565e+00,5.884457,6.176159,6.244976,11.571428,10.800000,11.816667,12.033334,11.016666,1.005012,2.125997,0.0,0.000000e+00,0.000000e+00
414957,HOUSEHOLD_1_353_WI_3_validation,HOUSEHOLD_1_353,HOUSEHOLD_1,HOUSEHOLD,WI_3,WI,1941,0,validation,11617,2016-05-22,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,3.440000,4.879500e-01,5.632418e-01,0.536519,0.514945,0.552939,0.285714,0.400000,0.316667,0.266667,0.238889,1.042104,0.176208,0.0,0.000000e+00,0.000000e+00
414958,HOUSEHOLD_1_354_WI_3_validation,HOUSEHOLD_1_354,HOUSEHOLD_1,HOUSEHOLD,WI_3,WI,1941,0,validation,11617,2016-05-22,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,1.930000,1.772811e+00,1.977169e+00,2.187793,2.145285,2.181435,1.857143,2.233333,2.400000,2.400000,2.366667,0.914247,0.846849,0.0,0.000000e+00,0.000000e+00
414959,HOUSEHOLD_1_355_WI_3_validation,HOUSEHOLD_1_355,HOUSEHOLD_1,HOUSEHOLD,WI_3,WI,1941,0,validation,11617,2016-05-22,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,7.980000,5.345225e-01,6.260623e-01,0.588016,0.574641,0.617759,0.571429,0.433333,0.400000,0.388889,0.377778,1.171699,0.430742,0.0,0.000000e+00,0.000000e+00
414960,HOUSEHOLD_1_356_WI_3_validation,HOUSEHOLD_1_356,HOUSEHOLD_1,HOUSEHOLD,WI_3,WI,1941,0,validation,11617,2016-05-22,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,5.960000,7.274657e-08,0.000000e+00,1.609997,2.565983,2.321859,0.000000,0.000000,0.533333,1.666667,1.505556,NaN,NaN,0.0,0.000000e+00,0.000000e+00
414961,HOUSEHOLD_1_357_WI_3_validation,HOUSEHOLD_1_357,HOUSEHOLD_1,HOUSEHOLD,WI_3,WI,1941,0,validation,11617,2016-05-22,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,11.970000,1.380131e+00,1.072648e+00,0.845560,0.712033,1.148988,1.285714,0.766667,0.383333,0.255556,0.622222,1.578755,2.085443,0.0,0.000000e+00,0.000000e+00
414962,HOUSEHOLD_1_358_WI_3_validation,HOUSEHOLD_1_358,HOUSEHOLD_1,HOUSEHOLD,WI_3,WI,1941,0,validation,11617,2016-05-22,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,9.970000,7.867958e-01,9.523112e-01,0.755208,0.636881,0.626440,0.428571,0.700000,0.350000,0.233333,0.255556,1.175561,0.351981,0.0,0.000000e+00,0.000000e+00
414963,HOUSEHOLD_1_359_WI_3_validation,HOUSEHOLD_1_359,HOUSEHOLD_1,HOUSEHOLD,WI_3,WI,1941,0,validation,11617,2016-05-22,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,6.880000,8.997354e-01,7.396799e-01,0.965361,0.970475,1.249904,0.857143,0.733333,1.016667,0.844444,1.044444,0.480400,-0.972011,0.0,7.210787e-08,1.106830e-08
414964,HOUSEHOLD_1_360_WI_3_validation,HOUSEHOLD_1_360,HOUSEHOLD_1,HOUSEHOLD,WI_3,WI,1941,0,validation,11617,2016-05-22,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,3.960000,7.867958e-01,5.208305e-01,0.480113,0.454688,0.513021,0.428571,0.266667,0.200000,0.200000,0.222222,1.866548,2.933681,0.0,0.000000e+00,0.000000e+00
414965,HOUSEHOLD_1_361_WI_3_validation,HOUSEHOLD_1_361,HOUSEHOLD_1,HOUSEHOLD,WI_3,WI,1941,0,validation,11617,2016-05-22,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,1.880000,3.078342e+00,2.859949e+00,2.431200,2.209276,2.173739,3.857143,2.400000,2.433333,2.200000,2.033333,1.963880,4.456564,0.0,0.000000e+00,0.000000e+00
414966,HOUSEHOLD_1_362_WI_3_validation,HOUSEHOLD_1_362,HOUSEHOLD_1,HOUSEHOLD,WI_3,WI,1941,0,validation,11617,2016-05-22,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,7.970000,3.779645e-01,4.660916e-01,0.454420,0.450412,0.431927,0.142857,0.300000,0.283333,0.277778,0.205556,0.919500,-1.242126,0.0,0.000000e+00,0.000000e+00
414967,HOUSEHOLD_1_363_WI_3_validation,HOUSEHOLD_1_363,HOUSEHOLD_1,HOUSEHOLD,WI_3,WI,1941,0,validation,11617,2016-05-22,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,2.970000,1.214986e+00,7.738544e-01,0.688074,0.716229,0.874833,0.857143,0.433333,0.366667,0.322222,0.394444,1.911952,3.382008,0.0,0.000000e+00,0.000000e+00
414968,HOUSEHOLD_1_364_WI_3_validation,HOUSEHOLD_1_364,HOUSEHOLD_1,HOUSEHOLD,WI_3,WI,1941,0,validation,11617,2016-05-22,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,7.480000,3.779645e-01,4.341725e-01,0.418499,0.373264,0.360873,0.142857,0.133333,0.166667,0.133333,0.122222,3.494974,12.513597,0.0,0.000000e+00,0.000000e+00
414970,HOUSEHOLD_1_366_WI_3_validation,HOUSEHOLD_1_366,HOUSEHOLD_1,HOUSEHOLD,WI_3,WI,1941,0,validation,11617,2016-05-22,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,5.960000,0.000000e+00,2.213661e-08,1.227164,1.869026,1.472392,0.000000,0.000000,0.450000,1.033333,0.627778,NaN,NaN,0.0,0.000000e+00,0.000000e+00
415658,HOUSEHOLD_2_516_WI_3_validation,HOUSEHOLD_2_516,HOUSEHOLD_2,HOUSEHOLD,WI_3,WI,1941,0,validation,11617,2016-05-22,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,5.940000,4.301595e-09,0.000000e+00,0.219784,0.207235,0.288621,0.000000,0.000000,0.050000,0.044444,0.077778,NaN,NaN,0.0,0.000000e+00,0.000000e+00

# RANDOM FOREST

### 1.Creación de Matriz de Datos

In [0]:
#Importación de librerías necesarias
from sklearn.ensemble import RandomForestRegressor
from sklearn import preprocessing
from sklearn.metrics import mean_squared_error

# A continuación se genera un codigo numérico para las variables: "item_id", "dept_id", "cat_id", "store_id","state_id"
from sklearn import preprocessing, metrics
def encode_categorical(df, cols):
    for col in cols:
        # Leave NaN as it is.
        le = preprocessing.LabelEncoder()
        not_null = df[col][df[col].notnull()]
        df[col] = pd.Series(le.fit_transform(not_null), index=not_null.index)
    return df
data = encode_categorical(data, ["item_id", "dept_id", "cat_id", "store_id","state_id",'wm_yr_wk'])
#A continuación se eliminan columnas que no van a ser utilizadas en el modelo
data=data.drop(columns=['part','d'])

In [0]:
#A continuación se eliminan los n/a
data = data.fillna(0)

In [30]:
data.tail()

,id,item_id,dept_id,cat_id,store_id,state_id,demand,wm_yr_wk,date,year_2011,year_2012,year_2013,year_2014,year_2015,year_2016,quarter_1,quarter_2,quarter_3,quarter_4,01_January,02_February,03_March,04_April,05_May,06_June,07_July,08_August,09_September,10_October,11_November,12_December,01_Monday,02_Tuesday,03_Wednesday,04_Thursday,05_Friday,06_Saturday,07_Sunday,is_weekend,EventoHoy,EventoMañana,EventoPasadoMañana,event_type_Bool_Cultural,event_type_Bool_National,event_type_Bool_Religious,event_type_Bool_Sporting,sell_price,rolling_std_t7,rolling_std_t30,rolling_std_t60,rolling_std_t90,rolling_std_t180,rolling_mean_t7,rolling_mean_t30,rolling_mean_t60,rolling_mean_t90,rolling_mean_t180,rolling_skew_t30,rolling_kurt_t30,price_change_t1,rolling_price_std_t7,rolling_price_std_t30
414966,HOUSEHOLD_1_362_WI_3_validation,354,0,0,0,0,0,57,2016-05-22,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,7.97,3.779645e-01,4.660916e-01,0.454420,0.450412,0.431927,0.142857,0.300000,0.283333,0.277778,0.205556,0.919500,-1.242126,0.0,0.0,0.0
414967,HOUSEHOLD_1_363_WI_3_validation,355,0,0,0,0,0,57,2016-05-22,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,2.97,1.214986e+00,7.738544e-01,0.688074,0.716229,0.874833,0.857143,0.433333,0.366667,0.322222,0.394444,1.911952,3.382008,0.0,0.0,0.0
414968,HOUSEHOLD_1_364_WI_3_validation,356,0,0,0,0,0,57,2016-05-22,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,7.48,3.779645e-01,4.341725e-01,0.418499,0.373264,0.360873,0.142857,0.133333,0.166667,0.133333,0.122222,3.494974,12.513597,0.0,0.0,0.0
414970,HOUSEHOLD_1_366_WI_3_validation,358,0,0,0,0,0,57,2016-05-22,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,5.96,0.000000e+00,2.213661e-08,1.227164,1.869026,1.472392,0.000000,0.000000,0.450000,1.033333,0.627778,0.000000,0.000000,0.0,0.0,0.0
415658,HOUSEHOLD_2_516_WI_3_validation,1046,1,0,0,0,0,57,2016-05-22,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,5.94,4.301595e-09,0.000000e+00,0.219784,0.207235,0.288621,0.000000,0.000000,0.050000,0.044444,0.077778,0.000000,0.000000,0.0,0.0,0.0

### 2.Creación del modelo

In [0]:
#Se definen los datos de Entrenamiento
x_train = data[data['date'] <= '2016-03-30']
y_train = x_train['demand']
#Se definen los datos de Validación
x_val = data[(data['date'] > '2016-03-30') & (data['date'] <= '2016-04-24')]
y_val = x_val['demand']
dias_val=x_val['date']

#Se definen los datos de testeo
test = data[(data['date'] >= '2016-03-01')]

#A continuación se elimina la columna demanda y fecha
x_train=x_train.drop(columns=['date','demand','id'])
x_val=x_val.drop(columns=['date','demand','id'])

In [32]:
print(test.shape)
print(dias_val.shape)
print(x_val.shape)

(86901, 62)
(26175,)
(26175, 59)

In [33]:
test.head()

,id,item_id,dept_id,cat_id,store_id,state_id,demand,wm_yr_wk,date,year_2011,year_2012,year_2013,year_2014,year_2015,year_2016,quarter_1,quarter_2,quarter_3,quarter_4,01_January,02_February,03_March,04_April,05_May,06_June,07_July,08_August,09_September,10_October,11_November,12_December,01_Monday,02_Tuesday,03_Wednesday,04_Thursday,05_Friday,06_Saturday,07_Sunday,is_weekend,EventoHoy,EventoMañana,EventoPasadoMañana,event_type_Bool_Cultural,event_type_Bool_National,event_type_Bool_Religious,event_type_Bool_Sporting,sell_price,rolling_std_t7,rolling_std_t30,rolling_std_t60,rolling_std_t90,rolling_std_t180,rolling_mean_t7,rolling_mean_t30,rolling_mean_t60,rolling_mean_t90,rolling_mean_t180,rolling_skew_t30,rolling_kurt_t30,price_change_t1,rolling_price_std_t7,rolling_price_std_t30
329458,HOUSEHOLD_2_169_WI_3_validation,700,1,0,0,0,0,45,2016-03-01,0,0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,5.84,0.377964,0.402578,0.354152,0.292221,0.252855,0.142857,0.100000,0.100000,0.066667,0.055556,4.280921,18.773201,0.0,0.0,0.0
329457,HOUSEHOLD_2_168_WI_3_validation,699,1,0,0,0,0,45,2016-03-01,0,0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,6.94,0.377964,0.253708,0.431461,0.412659,0.392986,0.142857,0.066667,0.183333,0.177778,0.155556,3.659999,12.206633,0.0,0.0,0.0
329456,HOUSEHOLD_2_167_WI_3_validation,698,1,0,0,0,0,45,2016-03-01,0,0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,2.88,0.487950,0.434172,0.334039,0.373264,0.318867,0.285714,0.133333,0.083333,0.133333,0.100000,3.494974,12.513597,0.0,0.0,0.0
329455,HOUSEHOLD_2_166_WI_3_validation,697,1,0,0,0,0,45,2016-03-01,0,0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,9.47,0.377964,0.406838,0.360085,0.394089,0.338828,0.142857,0.200000,0.150000,0.155556,0.116667,1.580130,0.527447,0.0,0.0,0.0
329454,HOUSEHOLD_2_165_WI_3_validation,696,1,0,0,0,0,45,2016-03-01,0,0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,5.84,0.000000,0.530669,0.415450,0.368721,0.358414,0.000000,0.166667,0.116667,0.100000,0.105556,3.159005,9.017314,0.0,0.0,0.0

In [0]:
def MASE(training_series, testing_series, prediction_series):
    """
    Computes the MEAN-ABSOLUTE SCALED ERROR forcast error for univariate time series prediction.
    
    See "Another look at measures of forecast accuracy", Rob J Hyndman
    
    parameters:
        training_series: the series used to train the model, 1d numpy array
        testing_series: the test series to predict, 1d numpy array or float
        prediction_series: the prediction of testing_series, 1d numpy array (same size as testing_series) or float
        absolute: "squares" to use sum of squares and root the result, "absolute" to use absolute values.
    
    """
    #print "Needs to be tested."
    n = training_series.shape[0]
    d = np.abs(  np.diff( training_series) ).sum()/(n-1)
    
    errors = np.abs(testing_series - prediction_series )
    return errors.mean()/d

In [0]:
# Se genera el modelo random forest base con los parámetros que vienen por defecto en la librería
ModelRF_base = RandomForestRegressor(random_state=123).fit(x_train, y_train)

# Predicción 
y_pred=ModelRF_base.predict(x_val)

In [36]:
#A continuación se lleva a cabo una evaluación por medio de las métricas de Accurancy y MSE para éste primer modelo

#Evaluación del Accuracy
ModelRF_base_Score = ModelRF_base.score(x_val, y_val)

#Evaluación de MSE
ModelRF_base_MSE= mean_squared_error(y_val, y_pred)

#Evaluación de MASE
ModelRF_base_MASE = MASE(y_train, y_val, y_pred)

#Imprimen los resultados
print('Random Forest Accuracy: {}'.format(ModelRF_base_Score))
print('Random Forest MSE: {}'.format(ModelRF_base_MSE))
print('Random Forest NMSE: {}'.format(ModelRF_base_MASE))

Random Forest Accuracy: 0.5212949128726682
Random Forest MSE: 1.7075624336198663
Random Forest NMSE: 0.6524565153351786

### 3.Identificación de variables relevantes

In [37]:
ModelRF_base.feature_importances_
imp_feat=pd.Series(ModelRF_base.feature_importances_,index=x_train.columns.tolist())
imp_feat.sort_values(ascending=False)

rolling_mean_t7              0.363925
rolling_mean_t30             0.144795
item_id                      0.057167
sell_price                   0.047310
wm_yr_wk                     0.042525
rolling_std_t7               0.032763
rolling_std_t30              0.031139
rolling_std_t60              0.028753
rolling_mean_t60             0.028204
rolling_kurt_t30             0.027553
rolling_skew_t30             0.027365
rolling_std_t90              0.024407
rolling_mean_t90             0.021176
rolling_std_t180             0.014781
rolling_mean_t180            0.014398
is_weekend                   0.012558
05_Friday                    0.007456
01_Monday                    0.005806
02_Tuesday                   0.005553
04_Thursday                  0.005372
03_Wednesday                 0.005369
06_Saturday                  0.005038
EventoMañana                 0.005013
EventoPasadoMañana           0.004732
07_Sunday                    0.003916
rolling_price_std_t30        0.003087
EventoHoy                    0.002526
10_October                   0.002369
event_type_Bool_National     0.001855
08_August                    0.001756
dept_id                      0.001598
quarter_4                    0.001513
07_July                      0.001512
12_December                  0.001497
05_May                       0.001446
09_September                 0.001396
11_November                  0.001391
02_February                  0.001323
01_January                   0.001314
quarter_3                    0.001162
04_April                     0.001069
event_type_Bool_Cultural     0.001065
event_type_Bool_Religious    0.000816
06_June                      0.000752
03_March                     0.000615
rolling_price_std_t7         0.000607
event_type_Bool_Sporting     0.000441
quarter_1                    0.000435
year_2015                    0.000395
year_2016                    0.000381
quarter_2                    0.000373
price_change_t1              0.000232
year_2014                    0.000000
year_2012                    0.000000
year_2011                    0.000000
state_id                     0.000000
store_id                     0.000000
cat_id                       0.000000
year_2013                    0.000000
dtype: float64

In [0]:
#A continuación se limitan los datos de entrenamiento sólo a las variables mas importantes

features = imp_feat[imp_feat >= 0.008] 

# Se ajustan los datos de entrenamiento solo con las variables seleccionadas

x_train=x_train[features.index]
x_val=x_val[features.index]
x_test=test[features.index]

##4.Análisis Sensibilidad

In [0]:
#Se define función para evaluar rendimiento de los modelos
from sklearn.metrics import mean_squared_error, r2_score

def evaluate(model, x_val, y_val):
    y_pred=model.predict(x_val)
    MSE = mean_squared_error(y_val, y_pred)
    r2 =  r2_score(y_val, y_pred)

    print('Rendimiento del modelo')
    print('Random Forest MSE: {}'.format(MSE))
    print('Random Forest R^2: {}'.format(r2))

A continuación se va a proceder a ajustar el modelo encontrado por medio de random search, en esta fase lo que se pretende es evaluar ya no combinaciones aleatorias si no todas las combinaciones próximas a los parámetros encontrados por random search

## 4.Creación del modelo Final

In [40]:
from sklearn.model_selection import GridSearchCV

ModelRF_final = RandomForestRegressor(bootstrap=True,max_depth=10,max_features=10,min_samples_split=9,
                                      min_samples_leaf=4,n_estimators=50,random_state=0).fit(x_train,y_train)

evaluate(ModelRF_final,x_val,y_val)

Rendimiento del modelo
Random Forest MSE: 1.680260764247111
Random Forest R^2: 0.5289487753367775

In [0]:
y_pred_final=ModelRF_final.predict(x_test)

In [0]:
#plt.plot(dias_val, y_pred_final,'bo', label='Predicción',)
#plt.plot(dias_val, y_val,'ro', label='Real',)
#plt.legend()
#plt.title("Predicción vs Actual")

##7.Generación de Archivo Submission

In [0]:
test['demand'] = y_pred_final

In [44]:
test

,id,item_id,dept_id,cat_id,store_id,state_id,demand,wm_yr_wk,date,year_2011,year_2012,year_2013,year_2014,year_2015,year_2016,quarter_1,quarter_2,quarter_3,quarter_4,01_January,02_February,03_March,04_April,05_May,06_June,07_July,08_August,09_September,10_October,11_November,12_December,01_Monday,02_Tuesday,03_Wednesday,04_Thursday,05_Friday,06_Saturday,07_Sunday,is_weekend,EventoHoy,EventoMañana,EventoPasadoMañana,event_type_Bool_Cultural,event_type_Bool_National,event_type_Bool_Religious,event_type_Bool_Sporting,sell_price,rolling_std_t7,rolling_std_t30,rolling_std_t60,rolling_std_t90,rolling_std_t180,rolling_mean_t7,rolling_mean_t30,rolling_mean_t60,rolling_mean_t90,rolling_mean_t180,rolling_skew_t30,rolling_kurt_t30,price_change_t1,rolling_price_std_t7,rolling_price_std_t30
329458,HOUSEHOLD_2_169_WI_3_validation,700,1,0,0,0,0.105351,45,2016-03-01,0,0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,5.84,3.779645e-01,4.025779e-01,0.354152,0.292221,0.252855,0.142857,0.100000,0.100000,0.066667,0.055556,4.280921,18.773201,0.0,0.0,0.0
329457,HOUSEHOLD_2_168_WI_3_validation,699,1,0,0,0,0.143839,45,2016-03-01,0,0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,6.94,3.779645e-01,2.537081e-01,0.431461,0.412659,0.392986,0.142857,0.066667,0.183333,0.177778,0.155556,3.659999,12.206633,0.0,0.0,0.0
329456,HOUSEHOLD_2_167_WI_3_validation,698,1,0,0,0,0.170359,45,2016-03-01,0,0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,2.88,4.879500e-01,4.341725e-01,0.334039,0.373264,0.318867,0.285714,0.133333,0.083333,0.133333,0.100000,3.494974,12.513597,0.0,0.0,0.0
329455,HOUSEHOLD_2_166_WI_3_validation,697,1,0,0,0,0.157733,45,2016-03-01,0,0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,9.47,3.779645e-01,4.068381e-01,0.360085,0.394089,0.338828,0.142857,0.200000,0.150000,0.155556,0.116667,1.580130,0.527447,0.0,0.0,0.0
329454,HOUSEHOLD_2_165_WI_3_validation,696,1,0,0,0,0.148668,45,2016-03-01,0,0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,5.84,0.000000e+00,5.306686e-01,0.415450,0.368721,0.358414,0.000000,0.166667,0.116667,0.100000,0.105556,3.159005,9.017314,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
414966,HOUSEHOLD_1_362_WI_3_validation,354,0,0,0,0,0.289989,57,2016-05-22,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,7.97,3.779645e-01,4.660916e-01,0.454420,0.450412,0.431927,0.142857,0.300000,0.283333,0.277778,0.205556,0.919500,-1.242126,0.0,0.0,0.0
414967,HOUSEHOLD_1_363_WI_3_validation,355,0,0,0,0,0.550195,57,2016-05-22,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,2.97,1.214986e+00,7.738544e-01,0.688074,0.716229,0.874833,0.857143,0.433333,0.366667,0.322222,0.394444,1.911952,3.382008,0.0,0.0,0.0
414968,HOUSEHOLD_1_364_WI_3_validation,356,0,0,0,0,0.185457,57,2016-05-22,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,7.48,3.779645e-01,4.341725e-01,0.418499,0.373264,0.360873,0.142857,0.133333,0.166667,0.133333,0.122222,3.494974,12.513597,0.0,0.0,0.0
414970,HOUSEHOLD_1_366_WI_3_validation,358,0,0,0,0,0.481900,57,2016-05-22,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,5.96,0.000000e+00,2.213661e-08,1.227164,1.869026,1.472392,0.000000,0.000000,0.450000,1.033333,0.627778,0.000000,0.000000,0.0,0.0,0.0
415658,HOUSEHOLD_2_516_WI_3_validation,1046,1,0,0,0,0.093094,57,2016-05-22,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,5.94,4.301595e-09,0.000000e+00,0.219784,0.207235,0.288621,0.000000,0.000000,0.050000,0.044444,0.077778,0.000000,0.000000,0.0,0.0,0.0

In [0]:
from google.colab import files
predictions = test[['id', 'date', 'demand']]
predictions = pd.pivot(predictions, index = 'id', columns = 'date', values = 'demand').reset_index()
predictions.columns = ['id'] + ['F' + str(i + 1) for i in range(83)]

evaluation_rows = [row for row in submission['id'] if 'evaluation' in row] 
evaluation = submission[submission['id'].isin(evaluation_rows)]

validation = submission[['id']].merge(predictions, on = 'id')
final = pd.concat([validation, evaluation])
final.to_csv('submission.csv', index = False)
#files.download('submission.csv')

In [46]:
final

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14,F15,F16,F17,F18,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28,F29,F30,F31,F32,F33,F34,F35,F36,F37,F38,F39,F40,F41,F42,F43,F44,F45,F46,F47,F48,F49,F50,F51,F52,F53,F54,F55,F56,F57,F58,F59,F60,F61,F62,F63,F64,F65,F66,F67,F68,F69,F70,F71,F72,F73,F74,F75,F76,F77,F78,F79,F80,F81,F82,F83
0,HOUSEHOLD_1_001_WI_3_validation,0.426198,0.401523,0.420501,0.414364,0.468353,0.478367,0.400174,0.388926,0.388926,0.386103,0.386103,0.498114,0.498114,0.420967,0.428375,0.427761,0.419841,0.427936,0.481433,0.485393,0.407758,0.412326,0.407758,0.399848,0.373023,0.428374,0.499875,0.422359,0.417855,0.414742,0.414742,0.409245,0.435886,0.423167,0.369459,0.347921,0.347921,0.347921,0.347921,0.400621,0.400621,0.327505,0.315079,0.315079,0.315079,0.315079,0.306462,0.306462,0.297122,0.306754,0.326607,0.321990,0.313665,0.313374,0.339899,0.327394,0.295401,0.240138,0.284994,0.284994,0.287773,0.258685,0.326699,0.326699,0.319774,0.299518,0.299518,0.303806,0.336125,0.296535,0.296535,0.264604,0.262258,0.262258,0.263105,0.294972,0.260618,0.259734,0.259734,0.241864,0.241255,0.243102,0.240880
1,HOUSEHOLD_1_002_WI_3_validation,0.388829,0.388829,0.338994,0.322760,0.337802,0.337802,0.285113,0.285113,0.303703,0.303703,0.303703,0.330295,0.317557,0.275456,0.275456,0.265393,0.265393,0.284961,0.328225,0.327063,0.329839,0.329839,0.329839,0.326437,0.292808,0.317557,0.300342,0.302314,0.345965,0.322559,0.322559,0.322559,0.301045,0.301045,0.273174,0.255992,0.279236,0.279236,0.293119,0.323059,0.323059,0.293119,0.291294,0.306061,0.306061,0.284575,0.299059,0.281796,0.291294,0.291294,0.263990,0.263990,0.263990,0.267340,0.313611,0.263990,0.259116,0.247256,0.231595,0.246499,0.246499,0.232878,0.232878,0.232878,0.232878,0.232878,0.217217,0.232878,0.217217,0.217217,0.217217,0.246499,0.246499,0.233088,0.217217,0.217217,0.217217,0.217217,0.217217,0.217217,0.217217,0.212818,0.212818
2,HOUSEHOLD_1_003_WI_3_validation,0.488662,0.459437,0.449818,0.474174,0.573396,0.502546,0.457915,0.457915,0.457915,0.433747,0.496515,0.564547,0.564547,0.441984,0.444539,0.444539,0.459280,0.432343,0.733551,0.541595,0.530087,0.545432,0.556584,0.545432,0.448295,0.541327,0.511075,0.417994,0.416945,0.417882,0.418930,0.424209,0.514536,0.524929,0.431268,0.476934,0.503460,0.520446,0.517017,0.628049,0.617124,0.535721,0.501078,0.438968,0.433577,0.445972,0.556771,0.581828,0.433577,0.449263,0.442259,0.439429,0.442720,0.555537,0.552948,0.424148,0.419978,0.425931,0.425922,0.422214,0.500514,0.497629,0.419858,0.413023,0.395841,0.351180,0.330392,0.378962,0.407614,0.362987,0.355761,0.350864,0.350864,0.337105,0.394526,0.359498,0.323709,0.350864,0.337105,0.326611,0.326611,0.378459,0.386428
3,HOUSEHOLD_1_004_WI_3_validation,3.341797,3.417514,3.553888,3.234263,4.142218,4.369140,3.062626,2.848308,3.064418,3.179957,3.168474,4.582105,3.796131,2.271031,2.125192,2.118178,2.155904,2.088268,3.157361,2.761696,2.560373,2.404332,2.490351,2.271938,2.200128,3.838220,3.978346,2.773175,2.988241,2.858888,3.146512,3.124272,4.179727,3.385485,3.003522,3.003522,3.161342,3.054434,3.462539,4.280512,4.387001,3.277753,3.188215,3.162455,3.322700,3.154143,4.683490,4.345840,3.704659,3.921628,3.194133,2.813375,2.629319,4.530406,3.886329,3.309049,3.582587,3.578623,3.433879,3.503097,4.023961,3.786988,2.847385,2.911731,2.902068,3.547923,3.551559,3.384069,4.008053,3.206939,3.110594,3.067385,2.882448,2.903553,3.820517,4.019938,3.001808,3.027285,2.954187,2.943986,3.058135,4.144841,3.960358
4,HOUSEHOLD_1_005_WI_3_validation,2.441996,2.391550,2.110021,2.038517,2.364476,2.431349,1.684433,1.549307,1.831547,1.708661,1.808559,2.424523,2.312326,1.466741,1.670390,1.407302,1.456717,1.383411,2.368362,2.353867,1.243437,1.210374,1.266123,1.369433,1.369433,2.381405,2.313440,1.771103,1.740381,1.960596,2.012027,1.951331,3.145849,3.202503,2.459037,2.548400,2.548400,2.405202,2.517905,3.144776,3.165566,2.554603,2.426588,2.486487,2.268596,2.324748,3.297020,3.253964,2.067193,2.231108,2.228764,2.440814,2.359353,2.987806,3.002472,2.135209,1.745897,1.969296,1.997067,1.736767,2.652957,2.645136,2.102252,2.061966,2.358287,2.364088,2.348748,3.047291,3.178337,2.540069,2.167861,2.166411,2.499938,2.336069,3.302300,2.421779,1.672936,1.856411,1.687816,1.829720,1.797723,2.241869,2.607653
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1042,HOUSEHOLD_2_512_WI_3_validation,0.229811,0.227434,0.203072,0.203072,0.197130,0.234640,0.223988,0.277650,0.277650,0.277650,0.277650,0.329921,0.415580,0.355536,0.283202,0.253154,0.253154,0.253154,0.323907,0.315965,0.331080,0.344432,0.331508,0.331508,0.317983,0.390735,0.418178,0.320471,0.319538,0.371374,0.371374,0.432706,0.531761,0.531761,0.430828,0.418395,0.405979,0.378267,0.399321,0.529097,0.531549,0.405222,0.375372,0.370960,0.370960,0.381957,0.494823,0.494823,0.367446,0.367446,0.359032,0.345967,0.326172,0.493664,0.534029,0.421981,0.411813,0.421981,0.421981,0.403707,0.499573,0.456395,0.345453,0.345453,0.338968,0.338968,0.338968,0.472071,0.456540,0.346875,0.332932,0.331511,0.304107,0.304107,0.364068,0.373179,0.349804,0.349804,0.362314,0.362314,0.329574,0.417320,0.413605
1043,HOUSEHOLD_2_513_WI_3_validation,0.314042,0.313443,0.305878,0.300514,0.306032,0.306032,0.314965,0.312304,0.317459,0.317908,0.317908,0.335782,0.335782,0.317174,0.311675,0.325675,0.321319,0.337699,0.491121,0.571326,0.585634,0.585634,0.500161,0.612549,0.500161,0.522298,0.528758,0.463649,0.551118,0.536310,0.536310,0.536310,0.673145,0.729995,0.568993,0.532046,0.534364,0.534364,0.532046,0.675065,0.667744,0.532613,0.532613,0.532613,0.532613,0.507648,0.671619,0.675065,0.463864,0.431331,0.439531,0.453322,0.478008,0.580552,0.580552,0.431331,0.423321,0.360999,0.357975,0.350167,0.490544,0.449904,0.363421,0.378764,0.388235,0.388235,0.386893,0.569533,0.554852,0.382804,0.382804,0.366271,0.408860,0.408860,0.565711,0.581135,0.389594,0.377558,0.378859,0.363828,0.362052,0.476083,0.458685
1044,HOUSEHOLD_2_514_WI_3_validation,0.093094,0.093094,0.093094,0.093094,0.093094,0.093094,0.093094,0.093094,0.093094,0.093094,0.093887,0.093887,0.093887,0.093887,0.093887,0.093887,0.093887,0.093887,0.093887,0.093887,0.093887,0.093887,0.093887,0.093887,0.093887,0.093887,0.093887,0.093887,0.093887,0.093887,0.093887,0.093887,0.093887,0.109579,0.109579,0.109579,0.109579,0.109579,0.109579,0.109579,0.096685,0.100948,0.100948,0.121693,0.121693,0.121693,0.121693,0.121693,0.112271,0.112271,0.110556,0.110556,0.110556,0.110556,0.110556,0.110556,0.110556,0.110556,0.110556,0.110556,0.110556,0.110556,0.138687,0.099838,0.099838,0.099838,0.099838,0.099838,0.099838,0.098123,0.147673,0.124371,0.162239,0.140080,0.140835,0.140835,0.140080,0.114949,0.114949,0.113233,0.140758,0.142444,0.142444
1045,HOUSEHOLD_2_515_WI_3_validation,0.260761,0.254999,0.254999,0.254999,0.272014,0.272014,0.254999,0.254999,0.254999,0.254999,0.254999,0.254641,0.223666,0.220428,0.207008,0.209057,0.209057,0.227664,0.235366,0.248898,0.257636,0.254975,0.254975,0.254975,0.242742,0.245980,0.284568,0.261126,0.261126,0.237328,0.237328,0.274103,0.300277,0.288068,0.267141,0.306800,0.305733,0.305733,0.317302,0.393917,0.393917,0.315347,0.305461,0.295211,0.294275,0.291464,0.385120,0.340486,0.295211,0.290205,0.266329,0.266329,0.266329,0.274460,0.274460,0.258273,0.235075,0.230986,0.230986,0.230986,0.225803,0.231730,0.227634,0.236912,0.230785,0.218887,0.218887,0.218887,0.238859,0.232372,0.225691,0.225691,0.214950,0.214950,0.214950,0.214950,0.208065,0.208065,0.199192,0.203742,0.229034,0.242541,0.242541
1046,HOUSEHOLD_2_516_WI_3_validation,0.125476,0.120234,0.117339,0.123457,0.124212,0.119054,0.119054,0.119054,0.119054,0.119054,0.111953,0.108479,0.108479,0.108479,0.106998,0.106998,0.106998,0.106998,0.106998,0.106998,0.106998,0.106998,0.106998,0.106998,0.106998,0.104643,0.110195,0.110195,0.110195,0.110195,0.110195,0.110195,0.110195,0.106998,0.104643,0.104643,0.104643,0.110195,0.110195,0.110195,0.110195,0.123778,0.123778,0.123778,0.113668,0.113668,0.113668,0.113668,0.111953,0.099269,0.099269,0.099269,0.099269,0.099269,0.099269,0.099269,0.095008,0.095008,0.095008,0.095008,0.095008,0.095008,0.095008,0.095008,0.095008,0.095008,0.095008,0.093528,0.093528,0.093528,0.092382,0.093094,0.093094,0.093094,0.093094,0.093094,0.093094,0.093094,0.093094,0.093094,0.093094,0.093094,0.093094

In [0]:
#Fuente https://towardsdatascience.com/hyperparameter-tuning-the-random-forest-in-python-using-scikit-learn-28d2aa77dd74

#Fuente http://dkopczyk.quantee.co.uk/hyperparameter-optimization/